body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('./147278.jpg') no-repeat;
    color: antiquewhite;
    font-weight: 400;
    text-transform: capitalize;
}

.container{
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    background-color: black;
    flex: 0 0 80%;
}

#quote_Btn{
    border: none;
    background: purple;
    color: wheat;
    padding: 10px;
    font-size: 1.3rem;
}
#quote_Btn:hover{
    border-radius: 20px;
    color: cyan;
    cursor: pointer;
    text-transform: capitalize;
}

blockquote{
    background: rgb(194,8,203);
    background: linear-gradient(90deg, rgba(194,8,203,1) 8%, rgba(9,9,121,1) 100%);
    border-left: 10px solid grey;
    margin: 1.5rem;
    padding: 0.5rem;
}

#quote_author{
    color: grey;
    text-decoration: overline underline;
}