*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('./math-behind-bitcoin.jpg')center/cover no-repeat;
}

.calculator{
    flex: 0 0 40%;
}

.screen{
    width: 100%;
    font-size: 7rem;
    padding: 0.5rem;
    background: black;
    color: white;
    border: 3px solid white;
    /* border: none; */
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    transition: all 0.5s linear;
}

button{
    flex:0 0 25%;
    border: 3px solid black;
    padding: 0.25rem 0;
    transition: all 0.5s ease;
}
.btn-orange{
    background: orange;
    color: white;
}
.btn-grey{
    background: rgb(151, 149, 149);
}
.btn-grey:hover{
    background: black;
    color: aquamarine;
}
.btn, .btn-equal{
    font-size: 4rem;
}
.btn-equal{
    background: green;
    float: right;
    width: 135px;
}
.btn-clear{
    background: red;
    font-size: 4rem;
    width: 100%;
}