body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('./hero-why-tech-enabled-go-to-market-innovation-is-critical.jpg')center/cover no-repeat;
    color: wheat;
}
h1{
    color: aquamarine;
    
}
.counter-box{
    flex: 0 0 70%;
    text-align: center;
    border: 5px solid aquamarine;
    border-radius: 10px;
    border-style: double;
    padding: 1rem;
    font-weight: bold;
    box-shadow: 3px 3px 15px 15px black;
}

.counter{
    font-size: 6rem;
}

.btn{
    margin-right: 15px;
    background: black;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 5px 5px aquamarine;
    padding: 1.5rem 1rem;
    color: white;
    font-size: large;
    font-weight: 300;
}
.btn:nth-child(1):hover{
    color: red;
}
.btn:nth-child(2):hover{
    color: greenyellow;
}
