body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.hexColor {
    text-transform: capitalize;
}
.hex {
    font-size: 3rem;
}

.hexBtn {
    color: blueviolet;
    border: 3px solid blueviolet;
    border-radius: 10px;
    background: black;
    font-size: 1.6rem;
    text-transform: capitalize;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    outline: none;
}
.hexBtn:hover {
    color: greenyellow;
    padding: 1rem;
}