body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color_Btn {
    padding: 0.25rem 0.5rem;
    border: 3px solid white;
    border-radius: 40px;
    color: white;
    background: black;
    font-size: 1.5rem;
    text-transform: capitalize;
    cursor: pointer;
}
.color_Btn:hover {
    background: aquamarine;
    color: black;
}