.container {
    margin: 10px auto;
    width: 475px;
    height: 500px;
    background-color: steelblue; 
    border-radius: 20px;
}

form{
    text-align: center;
}

p{
    text-align: center;
}

#height, #weight {
    width: 150px;
    height: 25px;
    margin-top: 30px;
}

#weight-guide{
    margin: 5px auto;
    height: 300px;
}
#weight-guide p:nth-child(2) span{
    color: greenyellow;
}
#weight-guide p:nth-child(3) span{
    color: orange;
}
#weight-guide p:nth-child(4) span{
    color: red;
}

#results{
    font-size: 40px;
    margin:5px auto;
    margin-top: 20px;
    color: red;
    background: darkgreen;
    font-weight: 400;
}

button{
    width: 195px;
    height: 35px;
   
    border-radius: 5px;
    border-style: none;
    background-color: blue;
    color: #fff;
    font-size: 25px;
}

h1{
    text-align: center;
    padding-left: 15px;
    padding-top: 25px;
}
