body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('./iStock-642721460-GoldBG.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
    font-weight: 400; 
    text-transform: capitalize;
}
h1{
    text-decoration: overline;
}
h2{
    text-decoration: underline;
}
.container{
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    background: palegoldenrod;
    flex: 0 0 40%;
}

button{
    display: block;
    font-size: 2rem;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    color: aquamarine;
    background: black;
    border-radius: 20px;
    border: none;
    text-transform: capitalize;
}
button:hover{
    opacity: 0.9;
    border: 3px solid aquamarine;
    cursor: pointer;
}

input[type=text]{
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 7px;
    border: 2px solid black;
    outline: double;
    font-size: 1.5rem;
}

input[type=text]:focus{
    box-shadow: 0 0 20px black;
}
#messageOut{
    margin: 0.5rem 0;
    color: red;
}