body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('img/background.jpg')center/cover no-repeat;
}

.images{
    flex: 0 0 80%;
    min-height: 80vh;
    background: green;
    background: url('./img/bcg-0.jpg')center/cover no-repeat;
    border-radius: 15px;
    box-shadow: 10px 10px black;
    position: relative;
}

.btn{
    display: inline-block;
    background: black;
    color: aquamarine;
    border: 3px solid aqua;
    font-size: 1.0rem;
    border-radius: 10px;
    padding: 0.5rem;
    box-shadow: 2px 5px black;
    outline: none;
}
.prevBtn{
    position: absolute;
    top: 50%;
    left:0;
    transform: translate(-50%, -50%);
}
.nextBtn{
    position: absolute;
    top: 50%;
    right:0;
    transform: translate(50%, -50%);
}
.btn:active{
    background: grey;
    box-shadow: 1px 1px grey;
}
.prevBtn:hover{
    background: black;
    color: red;
    font-size: 1.5rem;
    border: none;
}
.nextBtn:hover{
    background: black;
    color: greenyellow;
    font-size: 1.5rem;
    border: none;
}